@media only screen and (max-width: 600px) {
	header{padding: 10px 10px}
	header .left-side{width: 60%}
	header .left-side .logo {font-size: 14px; }
	header .left-side .logo{padding-top: 8px}
	header .left-side .hd-company {font-size: 12px; }
	header .left-side .hd-company{margin-left: 0px; padding: 9px 10px}
	header .right-side{padding-left: 0px; height: 78%; width: 35%; margin-top:6px;}
	header .right-side .signup{font-size: 12px; }

	.first-section{width: 100%; padding-left: 30px; padding-right: 30px;}
	.first-section .content{width: 100%; padding: 32px; }
	.first-section .content .content-title{font-size: 28px;line-height: 33px}

	.second-section{height: 25vh; padding-left: 20px; padding-right:20px; padding-top: 10px}

	.second-section .content .content-title{font-size: 16px}
	.second-section .content .block{display: none;}


	.all-main{padding: 10px 10px;}
	.main-pay .content{width: 100%}
	.main-pay .content .top-body .body-part label{font-size: 10px; margin-bottom: 0px; }

	.top-details .content{width: 100%}
	.main-pay .content .top-body .body-part{margin-top: 10px;}
}