body{margin:0;padding: 0;font-family: 'Nunito Sans', sans-serif;}
header{height: 60px;background-color: #000000;width:100%;padding:10px 65px;}
header .left-side{display:inline-flex;width:70%;height:100%;float: left;}
header .left-side .logo{font-size: 24px;color:#ffffff;text-decoration: none;outline: none; }
header .left-side .logo a{text-decoration: none;outline: none;color: #ffffff}
header .left-side .img-logo{height: 30px;width: 30px;padding-top: 4px;margin-right: 5px}
header .left-side .img-logo img{width: 100%;height: 100%}
header .left-side .hd-company{font-size:16px;color: #ffffff;transition-duration:200ms;display: block;transition-timing-function: cubic-bezier(0, 0, 1, 1);padding:5px 10px;text-align: center;margin-left:20px;border-bottom-left-radius:30px;border-top-left-radius:30px;border-bottom-right-radius:30px;border-top-right-radius:30px;}
header .left-side .hd-company button{background-color: transparent;border:none;color:#ffffff}
header .left-side .hd-company:hover{background-color: rgb(84, 84, 84);}
header .left-side .hd-company button:focus{outline:none;}
header .left-side .hd-company .dropdown-menu{min-width: 200px;box-shadow: rgba(0, 0, 0, 0.16) 0px 4px 16px;border-radius:0px;border:none;top: 17px !important;}
header .left-side .hd-company .dropdown-menu li{color:rgb(117, 117, 117);line-height: 20px;font-size: 14px;padding:8px 10px}
header .left-side .hd-company .dropdown-menu li:hover{background-color: #EEEEEE;}
header .left-side .hd-company .dropdown-menu li a{text-decoration: none;outline: none;color:rgb(117, 117, 117);}
header .left-side .hd-company .dropdown-menu li a:hover{color:#000000;}
header .right-side{display: inline-flex;width: 30%;height:100%;float: right;padding-left:125px}
header .right-side .login{font-size:16px;color: #ffffff;transition-duration:200ms;display: block;transition-timing-function: cubic-bezier(0, 0, 1, 1);padding:7px 20px;text-align: center;margin-left:20px;border-bottom-left-radius:30px;border-top-left-radius:30px;border-bottom-right-radius:30px;border-top-right-radius:30px;}
header .right-side .login:hover{background-color: rgb(84, 84, 84);}
header .right-side .login a{text-decoration: none;outline: none;color: #ffffff}
header .right-side .signup{font-size:16px;background-color:#ffffff;color: #000000;transition-duration:200ms;display: block;transition-timing-function: cubic-bezier(0, 0, 1, 1);padding:7px 20px;text-align: center;margin-left:20px;border-bottom-left-radius:30px;border-top-left-radius:30px;border-bottom-right-radius:30px;border-top-right-radius:30px;}
header .right-side .signup:hover{background-color: rgb(84, 84, 84);}
header .right-side .signup a{text-decoration: none;outline: none;color: #000000}

.first-section{height:790px;width:100%;background-size: cover;display: block;background-repeat: no-repeat;padding-left:100px;padding-top: 100px}
.first-section .content{background-color: #ffffff;width:560px;height:390px;padding:48px}
.first-section .content .content-title{font-size:56px;line-height:64px;font-weight:600;color:#000000}
.first-section .content .block{font-size:16px;line-height:24px;margin-top:20px;color:#000000;margin-bottom:40px}
.first-section .content .signbtn{font-size: 16px;background-color: #000000;color:#ffffff;padding: 14px 25px;text-align: center;text-decoration: none;font-weight: 600}
.first-section .content .signbtn:hover{background-color:rgb(84, 84, 84); }
.first-section .content .block2{font-size: 16px;margin-top: 35px;}
.first-section .content .overline-from-left {-webkit-transform: translateZ(0);transform: translateZ(0);-webkit-backface-visibility: hiddenbackface-visibility: hidden;-moz-osx-font-smoothing: grayscale;position: relative;overflow: hidden;color: #000000;border-bottom:1px solid #dddddd;padding-bottom: 5px;text-decoration: none;font-size: 16px}
 .first-section .content .overline-from-left:before {content: "";position: absolute;z-index: -1;left: 0;right: 100%;bottom: 0;background-color: #000000;height: 1px;-webkit-transition-property: right;transition-property: right;-webkit-transition-duration: 0.3s;transition-duration: 0.3s;-webkit-transition-timing-function: ease-out;transition-timing-function: ease-out; }
 .first-section .content .overline-from-left:hover:before {right: 0;}
.first-section .content .overline-from-left:hover{border-bottom: none}

.second-section{height:100vh;width:100%;background-size:cover;background-repeat: no-repeat;overflow: hidden;padding-left:100px;padding-top:100px;}
.second-section .content{width:400px;height: 200px}
.second-section .content .content-title{font-size:36px;color:#000000;line-height:44px;font-weight: 600}
.second-section .content .block{font-size: 16px;margin-top: 35px;}
.second-section .content .overline-from-left {-webkit-transform: translateZ(0);transform: translateZ(0);-webkit-backface-visibility: hiddenbackface-visibility: hidden;-moz-osx-font-smoothing: grayscale;position: relative;overflow: hidden;color: #000000;border-bottom:1px solid #dddddd;padding-bottom: 5px;text-decoration: none;font-size: 16px}
.second-section .content .overline-from-left:before {content: "";position: absolute;z-index: -1;left: 0;right: 100%;bottom: 0;background-color: #000000;height: 1px;-webkit-transition-property: right;transition-property: right;-webkit-transition-duration: 0.3s;transition-duration: 0.3s;-webkit-transition-timing-function: ease-out;transition-timing-function: ease-out; }
.second-section .content .overline-from-left:hover:before {right: 0;}
.second-section .content .overline-from-left:hover{border-bottom: none}

.third-section{padding:100px 100px}
.third-section .title{font-size: 36px;line-height: 44px;font-weight: 600;color: #000000;}
.third-section .block{font-size: 16px;color:#000000;padding-top: 10px}
.third-section .content{padding-top:30px}
.third-section .content .item{}
.third-section .content .topic{padding-top:20px}
.third-section .content .topic .topic-title{font-size:18px;font-weight: 600}
.third-section .content .topic .topic-block{color: #333333;line-height: 24px;font-size: 16px}
.third-section .content .topic .block2{font-size: 16px;margin-top: 35px;}
.third-section .content .topic .overline-from-left {-webkit-transform: translateZ(0);transform: translateZ(0);-webkit-backface-visibility: hiddenbackface-visibility: hidden;-moz-osx-font-smoothing: grayscale;position: relative;overflow: hidden;color: #000000;border-bottom:1px solid #dddddd;padding-bottom: 5px;text-decoration: none;font-size: 16px}
.third-section .content .topic .overline-from-left:before {content: "";position: absolute;z-index: -1;left: 0;right: 100%;bottom: 0;background-color: #000000;height: 1px;-webkit-transition-property: right;transition-property: right;-webkit-transition-duration: 0.3s;transition-duration: 0.3s;-webkit-transition-timing-function: ease-out;transition-timing-function: ease-out; }
.third-section .content .topic .overline-from-left:hover:before {right: 0;}
.third-section .content .topic .overline-from-left:hover{border-bottom: none}

.fourth-section{padding: 40px 100px}
.fourth-section .content{width:100%;height:100%;padding-right: 100px}
.fourth-section .content .fourth-title{font-size:36px;color:#000000;line-height:44px;font-weight: 600}
.fourth-section .content .block{color: #333333;line-height: 24px;font-size: 16px;margin-top:20px}
.fourth-section .content .block2{font-size: 16px;margin-top: 35px;}
.fourth-section .content .block2 .overline-from-left {-webkit-transform: translateZ(0);transform: translateZ(0);-webkit-backface-visibility: hiddenbackface-visibility: hidden;-moz-osx-font-smoothing: grayscale;position: relative;overflow: hidden;color: #000000;border-bottom:1px solid #dddddd;padding-bottom: 5px;text-decoration: none;font-size: 16px}
.fourth-section .content .block2 .overline-from-left:before {content: "";position: absolute;z-index: -1;left: 0;right: 100%;bottom: 0;background-color: #000000;height: 1px;-webkit-transition-property: right;transition-property: right;-webkit-transition-duration: 0.3s;transition-duration: 0.3s;-webkit-transition-timing-function: ease-out;transition-timing-function: ease-out; }
.fourth-section .content .block2 .overline-from-left:hover:before {right: 0;}
.fourth-section .content .block2 .overline-from-left:hover{border-bottom: none}
.fourth-section .content .block3{font-size: 16px;margin-top: 20px;}
.fourth-section .content .block3 .overline-from-left {-webkit-transform: translateZ(0);transform: translateZ(0);-webkit-backface-visibility: hiddenbackface-visibility: hidden;-moz-osx-font-smoothing: grayscale;position: relative;overflow: hidden;color: #000000;border-bottom:1px solid #dddddd;padding-bottom: 5px;text-decoration: none;font-size: 16px}
.fourth-section .content .block3 .overline-from-left:before {content: "";position: absolute;z-index: -1;left: 0;right: 100%;bottom: 0;background-color: #000000;height: 1px;-webkit-transition-property: right;transition-property: right;-webkit-transition-duration: 0.3s;transition-duration: 0.3s;-webkit-transition-timing-function: ease-out;transition-timing-function: ease-out; }
.fourth-section .content .block3 .overline-from-left:hover:before {right: 0;}
.fourth-section .content .block3 .overline-from-left:hover{border-bottom: none}
.fourth-section .img-box{width:100%;height:100%}
.fourth-section .img-box img{width:100%;height:100%}

.fifth-section{padding:100px 100px;}
.fifth-section .content{width:100%;height: auto;}
.fifth-section .content .img-box{height: 100%;width:100%}
.fifth-section .content .img-box img{}
.fifth-section .content .item{padding-top: 15px}
.fifth-section .content .item .content-title{font-size:18px;font-weight: 600;margin-top:10px}
.fifth-section .content .item .block{color: #333333;line-height: 24px;font-size: 16px;margin-top:10px}
.fifth-section .content .item .block2{font-size: 16px;margin-top: 30px;}
.fifth-section .content .item .block2 .overline-from-left {-webkit-transform: translateZ(0);transform: translateZ(0);-webkit-backface-visibility: hiddenbackface-visibility: hidden;-moz-osx-font-smoothing: grayscale;position: relative;overflow: hidden;color: #000000;border-bottom:1px solid #dddddd;padding-bottom: 5px;text-decoration: none;font-size: 16px}
.fifth-section .content .item .block2 .overline-from-left:before {content: "";position: absolute;z-index: -1;left: 0;right: 100%;bottom: 0;background-color: #000000;height: 1px;-webkit-transition-property: right;transition-property: right;-webkit-transition-duration: 0.3s;transition-duration: 0.3s;-webkit-transition-timing-function: ease-out;transition-timing-function: ease-out; }
.fifth-section .content .item .block2 .overline-from-left:hover:before {right: 0;}
.fifth-section .content .item .block2 .overline-from-left:hover{border-bottom: none}

.six-section{padding: 40px 100px 100px 100px}
.six-section .content{font-size:36px;line-height: 44px;text-decoration: none;color:#000000;font-weight: 700;border-bottom: 1px solid #000000;padding-bottom: 30px;display: block;}
.six-section .content:hover .driveicon{-webkit-transform: translateZ(0);transform: translateZ(0);-webkit-backface-visibility: hiddenbackface-visibility: hidden;-moz-osx-font-smoothing: grayscale;position: relative;overflow: hidden;}
.six-section .content:hover{color:rgb(84, 84, 84); }
.six-section .content:hover .driveicon{color:rgb(84, 84, 84);}

.all-main{background-color: #f7f7f7;padding: 100px 100px }
.main-pay{}
.main-pay .content{margin: 0 auto;width:550px;border:2px solid #000;}
.main-pay .content .top-head{background-color: #000;padding: 18px 10px 8px 15px;border-bottom: 2px solid #000}
.main-pay .content .top-head h6{color: #ffffff;font-size:16px;font-weight: 600}
.main-pay .content .top-body{padding:20px;background-color: #ffffff}
.main-pay .content .top-body .body-part{width: 100%; height: 40px; display: block; padding: 5px;}
.main-pay .content .top-body .body-part label{width:200px;font-size:12px}
.main-pay .content .top-body .body-part em{color: red}
.main-pay .content .top-body .body-part input{outline: 0; border: 1px solid #eee; height: 25px; font-size: 12px;padding-left: 6px;color:#000;width: 200px}
.main-pay .content .top-body .submit-btn{float: right; background-color: #000; border: none; color: #ffffff; font-size: 14px; font-weight: 600; padding: 5px 15px;margin-right: 94px;margin-top: 10px}
.main-pay .content .top-body .submit-btn:disabled{background-color: #5b5050}
.top-details{padding-top: 40px}
.top-details .content{width: 600px;margin:0 auto;}
.top-details .content .details-head{background-color:#000;padding: 10px 10px 1px 10px}
.top-details .content .details-head h6{color: #ffffff;font-size:16px;font-weight: 600}
.top-details .content .topic{background-color: #ffffff;padding:15px 10px}
.top-details .content .topic ul li{font-size: 14px;color:#000 }
.top-details .content .details-footer{background-color:#000;padding: 10px 10px 1px 10px}
.top-details .content .details-footer h6{color: #ffffff;font-size:15px;font-weight: 500;text-align: center;}



.pro-topic{background-color: #f7f7f7;padding: 100px}
.pro-topic .content{margin: 0 auto;width:350px;background-color:#ffffff;height: auto;padding: 30px 20px 20px 20px}
.pro-topic .content .img-box{height: 75px;width: 75px;display:flex;overflow: hidden;border:2px solid #999;border-radius: 50%;margin: 0 auto}
.pro-topic .content .img-box img{width:100%;height: 100%}
.pro-topic .content .item{text-align: center;margin-top: 8px;padding-bottom:10px;border-bottom: 1px solid #f1f1f1}
.pro-topic .content .item h6{font-size: 16px;color:#000;font-weight: 600;margin-bottom: 6px}
.pro-topic .content .item p{font-size: 12px;color:#333;font-weight: 500;margin-bottom:0px}
.pro-topic .content .address{margin-top: 8px;padding-bottom:10px;border-bottom: 1px solid #f1f1f1}
.pro-topic .content .address h6{font-size: 16px;color:#000;font-weight: 600;margin-bottom: 3px}
.pro-topic .content .address p{font-size: 12px;color:#333;font-weight: 500;margin-bottom:0px}
.pro-topic .content .janina{margin-top: 8px;padding-bottom:10px;}
.pro-topic .content .janina h6{font-size: 16px;color:#000;font-weight: 600;margin-bottom: 3px}
.pro-topic .content .janina p{font-size: 20px;color:#333;font-weight: 500;margin-bottom:0px;padding-left: 5px;margin-top: 5px	}

.pre-payment{position: absolute;top: 55%;left: 55%}
.pre-payment input{padding: 5px 30px; font-size: 14px; color: #fff; background-color: #000; border: navajowhite; font-weight: 600; }

.payment-success{width: 100%; background-color: #1d1d1d; height:50vh; margin-top: 10%; margin-bottom: 10%;box-shadow: 3px 3px 3px #888888;}
.payment-success .corrrect{color: #CE3328; font-size: 65px; text-align: center; padding-top: 20px}
.payment-success h1{color: #CE3328; text-align: center; font-size: 21px; }
.payment-success h2{color: #fff; text-align: center;; font-size: 35px; font-weight: bold}
.payment-success .go-back-btn{color: #CE3328; background-color: #fff; padding: 10px 9px; margin-top:20px; font-weight: bold; text-decoration: none; }
.payment-success .go-back-div{margin-left: 42%; padding-top: 50px;}
footer{padding:100px 100px;background-color:#000000}
footer .footer-logo{font-size: 24px;color:#ffffff;text-decoration: none;outline: none; }
footer .footer-logo a{text-decoration: none;outline: none;color: #ffffff}
footer .help-center{font-size:18px;margin-top: 30px;margin-bottom:45px}
footer .help-center a{color: #ffffff;text-decoration: none;}
footer .help-center a:hover{border-bottom: 1px solid #ffffff}
footer .footer-content{display: block;}
footer .footer-content .content-title{color:#ffffff;font-size: 18px;font-weight: 600;margin-bottom:20px}
footer .footer-content ul{margin: 0;padding: 0}
footer .footer-content  ul li{list-style: none;color:#ffffff;font-size: 16px;margin-bottom: 15px}
footer .footer-content  ul li a{font-size:16px;color:#ffffff;text-decoration: none;}
footer .footer-content  ul li a:hover{color:rgb(84, 84, 84); }
footer .follow-social{padding-top: 45px;margin-left:-15px;}
footer .follow-social li{list-style:none;display: inline-block;margin-right: 6px}
footer .follow-social li a{color: #ffffff;padding:10px 15px;}
footer .follow-social li a:hover{background-color:rgb(84, 84, 84); }
footer .lang{padding-top: 45px}
footer .lang li{list-style: none;display: inline-block;color:#ffffff;margin-right: 6px}
footer .lang li a{color: #ffffff;padding:10px 15px;text-decoration: none;}
footer .lang li a:hover{background-color:rgb(84, 84, 84); }
footer .lang li a .lang-icon{margin-right:10px}
footer .download{padding-top: 45px;float: right;}
footer .download li{list-style: none;display: inline-block;margin-right: 6px;width:120px;height: auto;}
footer .download li a{}
footer .download li a img{width: 100%}
footer .com-name{padding-top: 45px}
footer .com-name p{font-size: 14px;color:#AFAFAF}
footer .com-policy{padding-top:45px;float: right;}
footer .com-policy li{list-style: none;display: inline-block;margin-right: 20px;}
footer .com-policy li a{font-size:14px;color:#AFAFAF;text-decoration: none;}
footer .com-policy li a:hover{color: rgb(84, 84, 84);}
